body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFB6C1
    ;
    margin: 0;
}

.envelope-container {
    position: relative;
    cursor: pointer;
}

.envelope {
    width: 200px;
}

.letter {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 0;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: height 0.5s ease;
}

.letter p {
    padding: 10px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}
